.membership-heading{
    color: black;
}

.membership-table {
  width: 100%;
  border-collapse: collapse;
  background: rgb(150, 150, 150);
  border-color: rgb(78, 76, 76);
}

.membership-table th,
.membership-table td {
  padding: 12px;
  border-bottom: 1px solid #010611;
}

.active {
  color: green;
  font-weight: bold;
}

.expired {
  color: red;
  font-weight: bold;
}